//primary color
$b-cl: #000000;
$w-cl: #fff;
$g-cl: #898989;
$dark-cl: #333;
$light-cl: #fff;



//color-text
$t-b-cl: $b-cl;
$t-w-cl: $w-cl;
$t-g-cl: $g-cl;


//color-background
$bg-b-cl: $b-cl;
$bg-w-cl: $w-cl;
$bg-g-cl: $g-cl;


//color design
$main-cl: #1791E1;
$main-cl-hover:#00749A;
$border-cl: #e1e1e1;
$g-E5E5-cl:#E5E5E5;
$g-70700-cl:#707070;
$g-8A92-cl:#8A92A0;
$g-6C70-cl:#6C7077;
$g-F4F5-cl: #F4F5F6;
$g-D8D8-cl:#D8D8D8;

$b-2F2F-cl:#2F2F2F;

//font-famili , font-size
$fz-base: 10px;
$font-body: 'SVN-Poppins', sans-serif;
$fz-body: 14px;
$lh-body: 1.4;
$cl-body: #000000;


//break point
$bk-1200: 1200px;
$bk-1024: 1024px;
$bk-992: 992px;
$bk-900: 900px;
$bk-850: 850px;
$bk-768: 768px;
$bk-600: 600px;
$bk-576: 576px;
$bk-375: 375px;
//break point - 1
$bk-d-1200: $bk-1200 - 1;
$bk-d-1024: $bk-1024 - 1;
$bk-d-992: $bk-992 - 1;
$bk-d-768: $bk-768 - 1;
$bk-d-576: $bk-576 - 1;
$bk-d-375: $bk-375 - 1;
/*width*/
$w-scroll: 0px;
$max-width: 100%;
$container-full-width: 1920px;
$container-width: 1200px;
$padding: 15px;

